In [1]:
#Import Libraries
import pandas as pd
import numpy as np

# To split the data
from sklearn.model_selection import train_test_split 

# Replace missing values in more column
from sklearn.impute import SimpleImputer

# Regularization
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
import matplotlib.pyplot as plt

# Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/cars.csv')
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

# EDA

In [3]:
df.info()
#Null values or Datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [4]:
df.isna().sum() # Count of missing values

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df['normalized-losses'].value_counts() # Unique values with frequency

?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: normalized-losses, dtype: int64

In [6]:
df[df['horsepower']=='?'] 
# Extract all entries where horsepower=?

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895

In [7]:
df.replace('?', np.nan, inplace=True) 
# Replace ? by NAN value permenantly

In [8]:
df.isna().sum() # Missing values count

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [9]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [10]:
df.dtypes # data type of each column

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [11]:
si = SimpleImputer(strategy='median') # we have to replace missing value by median. so use strategy=median
# If outlier not present then we use mean value
# For categorical column use mode -> strategy=most_freq

In [12]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [13]:
df.iloc[:,[1,11]] # Select those column where missing values are present

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [14]:
df.iloc[:,[1, 11]] = si.fit_transform(df.iloc[:,[1,11]]) # Here inplace parameter not present 
#so we can reassign for permnant change
# Fit function calulate median and tranform function replace missing values by median

In [15]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [16]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,115.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28,16845
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25,19045
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23,21485
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27,22470
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25,22625

In [17]:
df[['make','fuel-type','body-style','drive-wheels','engine-location','engine-type']]
# extract those column whose datatype is object

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [18]:
df.select_dtypes([int,float]) # To select only numeric data type

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,64.1,48.8,130,111.0,21,27,13495
1,3,115.0,64.1,48.8,130,111.0,21,27,16500
2,1,115.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,114.0,23,28,16845
201,-1,95.0,68.8,55.5,141,160.0,19,25,19045
202,-1,95.0,68.9,55.5,173,134.0,18,23,21485
203,-1,95.0,68.9,55.5,145,106.0,26,27,22470
204,-1,95.0,68.9,55.5,141,114.0,19,25,22625

In [19]:
cat_cols = df.select_dtypes(object).columns  #Select only categorical column
cat_cols

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [20]:
df[cat_cols]

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [21]:
oe = OrdinalEncoder()
# Ordinal encoder use when we have to perform encoding on more column(5-10)
# Create values in numeric format for unique values in that column
#OHE-> it increases columns. we can see curse of dimentionality

df[cat_cols] = oe.fit_transform(df[cat_cols])

In [22]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,115.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

In [23]:
df.dtypes # Gives data type

symboling              int64
normalized-losses    float64
make                 float64
fuel-type            float64
body-style           float64
drive-wheels         float64
engine-location      float64
width                float64
height               float64
engine-type          float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

# Model building

In [24]:
#Define x and y
x = df.iloc[:,:-1]
y = df['price']

In [25]:
# Split the data
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3, random_state=1)

In [26]:
#Model building
lr = LinearRegression()
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)

In [27]:
# intercept
lr.intercept_

-64935.11357978255

In [28]:
# slope
lr.coef_

array([ 5.71727164e+01,  4.76320989e-01, -2.01309566e+02, -6.22705136e+02,
       -1.63712110e+02,  1.88863899e+03,  1.63884484e+04,  7.90632094e+02,
        3.61221503e+02,  2.81207534e+02,  9.82290864e+01, -1.06474945e+01,
        3.08435166e+02, -4.17126915e+02])

In [29]:
# Accuracy
lr.score(xtrain,ytrain), lr.score(xtest,ytest)
# We see overfitting so we use regularization to deal with overfitting

(0.8504229026078213, 0.7964854785429523)

# Lasso

In [30]:
l1 = Lasso() # lassso regularization

l1.fit(xtrain,ytrain) # Add some error in training data

l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8504215478243033, 0.7966615211575689)

In [31]:
l1.coef_
# Slope of all columns

array([ 5.70766693e+01,  4.67141700e-01, -2.01139953e+02, -6.14206970e+02,
       -1.64751649e+02,  1.88558824e+03,  1.63181959e+04,  7.88680118e+02,
        3.61783500e+02,  2.81248690e+02,  9.83193653e+01, -1.05310631e+01,
        3.07274772e+02, -4.15725804e+02])

# Hyperparameter Tuning

In [32]:
# Hyperparameter-> learning rate
# We have only one hyperparameter so we use for loop to get optimal alpha value
for i in range(100,200):
    l1 = Lasso(alpha=i)
    l1.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train : {l1.score(xtrain,ytrain)} Test: {l1.score(xtest,ytest)}")

Alpha: 100 Train : 0.83724839740265 Test: 0.8092040910955614
Alpha: 101 Train : 0.8369899229541409 Test: 0.8092979610738258
Alpha: 102 Train : 0.8367288785613758 Test: 0.8093910017461715
Alpha: 103 Train : 0.8364651676681871 Test: 0.8094832684251525
Alpha: 104 Train : 0.8361989818307348 Test: 0.8095746503624811
Alpha: 105 Train : 0.8359302253870347 Test: 0.8096652035299011
Alpha: 106 Train : 0.8356588978359675 Test: 0.8097549282309101
Alpha: 107 Train : 0.8353849991129143 Test: 0.8098438245155559
Alpha: 108 Train : 0.8351084257059385 Test: 0.8099319454841271
Alpha: 109 Train : 0.8348293842179737 Test: 0.8100191840285438
Alpha: 110 Train : 0.8345477714936766 Test: 0.8101055942385992
Alpha: 111 Train : 0.834263587704037 Test: 0.8101911760417997
Alpha: 112 Train : 0.8339767222137544 Test: 0.8102759813628972
Alpha: 113 Train : 0.8336873954613211 Test: 0.8103599056262563
Alpha: 114 Train : 0.8333954973355282 Test: 0.8104430016665042
Alpha: 115 Train : 0.8331010276993126 Test: 0.8105252695475362
Alpha: 116 Train : 0.832803869120488 Test: 0.8106067595950118
Alpha: 117 Train : 0.8325042561318756 Test: 0.8106873701557593
Alpha: 118 Train : 0.8322020717101932 Test: 0.8107671525374287
Alpha: 119 Train : 0.8318973159092646 Test: 0.8108461067199921
Alpha: 120 Train : 0.8315898643306086 Test: 0.8109242812985722
Alpha: 121 Train : 0.8312799660294592 Test: 0.8110015778648529
Alpha: 122 Train : 0.8309674969080166 Test: 0.8110780460553539
Alpha: 123 Train : 0.830652325799423 Test: 0.8111537336006445
Alpha: 124 Train : 0.8303347149155726 Test: 0.8112285440004985
Alpha: 125 Train : 0.8300145320017068 Test: 0.811302526508727
Alpha: 126 Train : 0.8296917792068181 Test: 0.8113756803829955
Alpha: 127 Train : 0.8293663164754229 Test: 0.8114480518748997
Alpha: 128 Train : 0.8290384195488704 Test: 0.8115195488665817
Alpha: 129 Train : 0.8287079533571844 Test: 0.8115902170896445
Alpha: 130 Train : 0.8283747703082015 Test: 0.8116601017520378
Alpha: 131 Train : 0.8280391586533505 Test: 0.8117291135142941
Alpha: 132 Train : 0.8277009785176218 Test: 0.8117972963383393
Alpha: 133 Train : 0.8273600743513214 Test: 0.8118646943166662
Alpha: 134 Train : 0.8270167519203321 Test: 0.8119312197807059
Alpha: 135 Train : 0.8266708579462199 Test: 0.8119969172586023
Alpha: 136 Train : 0.8263223897906081 Test: 0.8120617874347752
Alpha: 137 Train : 0.8259711936341727 Test: 0.8121258693292267
Alpha: 138 Train : 0.8256175865009792 Test: 0.8121890813322453
Alpha: 139 Train : 0.8252612405575874 Test: 0.8122515055400708
Alpha: 140 Train : 0.8249024913515863 Test: 0.8123130602354286
Alpha: 141 Train : 0.8245411708666053 Test: 0.8123737869230407
Alpha: 142 Train : 0.8241771102161819 Test: 0.8124337227741056
Alpha: 143 Train : 0.8238106530253966 Test: 0.8124927911020219
Alpha: 144 Train : 0.8234416172134691 Test: 0.8125510330331999
Alpha: 145 Train : 0.8230698280784812 Test: 0.8126084835163165
Alpha: 146 Train : 0.8226956503354528 Test: 0.8126650681694727
Alpha: 147 Train : 0.8223189013367542 Test: 0.8127208248289379
Alpha: 148 Train : 0.821939394051387 Test: 0.8127757876072301
Alpha: 149 Train : 0.8215575086176155 Test: 0.812829886091909
Alpha: 150 Train : 0.8211730520262541 Test: 0.8128831566524961
Alpha: 151 Train : 0.8207858295570521 Test: 0.812935631352826
Alpha: 152 Train : 0.820396239279749 Test: 0.8129872435786125
Alpha: 153 Train : 0.8200038659827096 Test: 0.8130380604531806
Alpha: 154 Train : 0.8196091274468162 Test: 0.8130880167485961
Alpha: 155 Train : 0.8192116048584221 Test: 0.8131371754207155
Alpha: 156 Train : 0.818811725601232 Test: 0.8131854746070425
Alpha: 157 Train : 0.8184092752900354 Test: 0.8132329459427781
Alpha: 158 Train : 0.8180040340448276 Test: 0.8132796171081449
Alpha: 159 Train : 0.8175964432833529 Test: 0.8133254313927005
Alpha: 160 Train : 0.8171860531186915 Test: 0.813370444214595
Alpha: 161 Train : 0.8167733221546685 Test: 0.8134146014856174
Alpha: 162 Train : 0.816357783218174 Test: 0.8134579558972022
Alpha: 163 Train : 0.8159399130313315 Test: 0.813500456125974
Alpha: 164 Train : 0.8155192326252294 Test: 0.8135421513909359
Alpha: 165 Train : 0.8150962240434019 Test: 0.8135829946288723
Alpha: 166 Train : 0.8146706427093285 Test: 0.8136230103114315
Alpha: 167 Train : 0.8142422390421418 Test: 0.8136622185802582
Alpha: 168 Train : 0.8138115184156175 Test: 0.813700577431542
Alpha: 169 Train : 0.8133779670184816 Test: 0.8137381271523585
Alpha: 170 Train : 0.812942107429732 Test: 0.8137748292356427
Alpha: 171 Train : 0.8125034086683015 Test: 0.8138107203716055
Alpha: 172 Train : 0.8120624104546714 Test: 0.8138457657584286
Alpha: 173 Train : 0.8116185647484578 Test: 0.8138799982828286
Alpha: 174 Train : 0.8111721398138245 Test: 0.8139134011642214
Alpha: 175 Train : 0.8107234361496891 Test: 0.8139459609474127
Alpha: 176 Train : 0.8102718648859881 Test: 0.8139777051490644
Alpha: 177 Train : 0.8098180239059949 Test: 0.8140086084473981
Alpha: 178 Train : 0.8093613132661214 Test: 0.8140386937712967
Alpha: 179 Train : 0.8089023413382919 Test: 0.814067940553511
Alpha: 180 Train : 0.8084404898252785 Test: 0.8140963672263579
Alpha: 181 Train : 0.8079760625391164 Test: 0.8141239640881854
Alpha: 182 Train : 0.8075093897331422 Test: 0.814150726003514
Alpha: 183 Train : 0.807039816130038 Test: 0.8141766644353039
Alpha: 184 Train : 0.8065680080542682 Test: 0.8142017704223898
Alpha: 185 Train : 0.8060932933491103 Test: 0.8142260504255305
Alpha: 186 Train : 0.8056160025244102 Test: 0.8142495005999422
Alpha: 187 Train : 0.8051364964854258 Test: 0.8142721223415651
Alpha: 188 Train : 0.8046540668179516 Test: 0.8142939142513762
Alpha: 189 Train : 0.8041690622414064 Test: 0.814314876357193
Alpha: 190 Train : 0.8036814832401016 Test: 0.8143350086553348
Alpha: 191 Train : 0.8031917275605562 Test: 0.8143543185997576
Alpha: 192 Train : 0.8026990258705379 Test: 0.8143727932940246
Alpha: 193 Train : 0.8022037529436445 Test: 0.8143904384269914
Alpha: 194 Train : 0.8017059095380151 Test: 0.8144072540570486
Alpha: 195 Train : 0.8012054966196828 Test: 0.8144232402636585
Alpha: 196 Train : 0.800702515179387 Test: 0.8144383971441083
Alpha: 197 Train : 0.8001973998845259 Test: 0.8144527419474971
Alpha: 198 Train : 0.7996892947832841 Test: 0.8144662423958203
Alpha: 199 Train : 0.7991786241960611 Test: 0.814478913919148

In [33]:
# see diffent values and see where the train accuracy and test accuracy is similar. select those value
l1 = Lasso(alpha=175)
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8107234361496891, 0.8139459609474127)

In [34]:
l1.coef_
# Slope values and where the slope is very very less this slope values convets into zero

array([  26.15091464,   -0.        , -173.02547787,   -0.        ,
       -363.80743898, 1247.84193718, 3867.709301  ,  391.04314711,
        451.57194036,  297.35122938,  113.32977728,   11.00742675,
         70.90090498, -160.35202828])

In [35]:
xtrain.columns # Columns name

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg'],
      dtype='object')

# Ridge

In [36]:
l2 = Ridge()

l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain), l2.score(xtest,ytest)

(0.8435840853399228, 0.8075632224690537)

In [37]:
for i in range(1,100):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train: {l2.score(xtrain,ytrain)} Test: {l2.score(xtest,ytest)}")

Alpha: 1 Train: 0.8435840853399228 Test: 0.8075632224690537
Alpha: 2 Train: 0.8356695734845093 Test: 0.8112192014374257
Alpha: 3 Train: 0.8296379623431074 Test: 0.8129299663310147
Alpha: 4 Train: 0.8250699092246864 Test: 0.8138839096972441
Alpha: 5 Train: 0.8215093087765015 Test: 0.8144682684596016
Alpha: 6 Train: 0.818648610383485 Test: 0.8148435627265234
Alpha: 7 Train: 0.816288257302081 Test: 0.8150880725612085
Alpha: 8 Train: 0.8142964263180523 Test: 0.8152447305071581
Alpha: 9 Train: 0.8125835227290968 Test: 0.8153392574436444
Alpha: 10 Train: 0.8110868722186455 Test: 0.8153881483263248
Alpha: 11 Train: 0.8097614513602519 Test: 0.815402561027951
Alpha: 12 Train: 0.8085741366835053 Test: 0.8153903693701571
Alpha: 13 Train: 0.8075000372738095 Test: 0.815357321289201
Alpha: 14 Train: 0.8065200924084592 Test: 0.8153077294072228
Alpha: 15 Train: 0.8056194580416446 Test: 0.8152449025615432
Alpha: 16 Train: 0.804786398073303 Test: 0.815171426484327
Alpha: 17 Train: 0.8040115065187469 Test: 0.815089352768959
Alpha: 18 Train: 0.8032871514648678 Test: 0.8150003299437463
Alpha: 19 Train: 0.8026070707304604 Test: 0.8149056967781798
Alpha: 20 Train: 0.8019660732378706 Test: 0.8148065502246252
Alpha: 21 Train: 0.8013598153077789 Test: 0.8147037958811016
Alpha: 22 Train: 0.8007846308878104 Test: 0.8145981861304741
Alpha: 23 Train: 0.8002374011637663 Test: 0.814490349411751
Alpha: 24 Train: 0.7997154533085167 Test: 0.8143808129927237
Alpha: 25 Train: 0.7992164810518412 Test: 0.8142700209017134
Alpha: 26 Train: 0.7987384817763886 Test: 0.814158348199973
Alpha: 27 Train: 0.7982797062609375 Test: 0.8140461124511115
Alpha: 28 Train: 0.7978386181969568 Test: 0.8139335830177278
Alpha: 29 Train: 0.7974138613263303 Test: 0.8138209886554861
Alpha: 30 Train: 0.7970042325726074 Test: 0.8137085237599926
Alpha: 31 Train: 0.796608659923398 Test: 0.8135963535381272
Alpha: 32 Train: 0.7962261841073035 Test: 0.8134846183137232
Alpha: 33 Train: 0.7958559433227879 Test: 0.8133734371313502
Alpha: 34 Train: 0.7954971604380747 Test: 0.8132629107871046
Alpha: 35 Train: 0.7951491322043275 Test: 0.813153124388708
Alpha: 36 Train: 0.7948112201189454 Test: 0.8130441495267423
Alpha: 37 Train: 0.794482842648963 Test: 0.8129360461229018
Alpha: 38 Train: 0.7941634685815293 Test: 0.8128288640086807
Alpha: 39 Train: 0.7938526113131444 Test: 0.8127226442780504
Alpha: 40 Train: 0.7935498239245844 Test: 0.8126174204498453
Alpha: 41 Train: 0.7932546949164723 Test: 0.8125132194693002
Alpha: 42 Train: 0.7929668445028013 Test: 0.8124100625731353
Alpha: 43 Train: 0.7926859213776737 Test: 0.8123079660384825
Alpha: 44 Train: 0.7924115998850196 Test: 0.8122069418326152
Alpha: 45 Train: 0.7921435775328081 Test: 0.8121069981777134
Alpha: 46 Train: 0.7918815728028478 Test: 0.8120081400426529
Alpha: 47 Train: 0.7916253232151244 Test: 0.8119103695719461
Alpha: 48 Train: 0.7913745836120685 Test: 0.8118136864604217
Alpha: 49 Train: 0.7911291246334808 Test: 0.8117180882809589
Alpha: 50 Train: 0.7908887313572603 Test: 0.8116235707715007
Alpha: 51 Train: 0.7906532020847592 Test: 0.8115301280866843
Alpha: 52 Train: 0.7904223472526622 Test: 0.8114377530186672
Alpha: 53 Train: 0.7901959884558677 Test: 0.811346437191079
Alpha: 54 Train: 0.7899739575680172 Test: 0.8112561712294912
Alpha: 55 Train: 0.7897560959481498 Test: 0.81116694491134
Alpha: 56 Train: 0.7895422537235101 Test: 0.811078747297838
Alpha: 57 Train: 0.7893322891398644 Test: 0.810991566850071
Alpha: 58 Train: 0.7891260679717906 Test: 0.8109053915312066
Alpha: 59 Train: 0.7889234629863808 Test: 0.8108202088964673
Alpha: 60 Train: 0.7887243534546111 Test: 0.8107360061723381
Alpha: 61 Train: 0.7885286247053472 Test: 0.8106527703262634
Alpha: 62 Train: 0.7883361677175604 Test: 0.810570488127961
Alpha: 63 Train: 0.7881468787468561 Test: 0.8104891462033195
Alpha: 64 Train: 0.7879606589828783 Test: 0.8104087310817414
Alpha: 65 Train: 0.7877774142345473 Test: 0.8103292292376811
Alpha: 66 Train: 0.787597054640429 Test: 0.810250627127044
Alpha: 67 Train: 0.7874194944018464 Test: 0.8101729112190275
Alpha: 68 Train: 0.7872446515365972 Test: 0.8100960680239266
Alpha: 69 Train: 0.787072447651374 Test: 0.8100200841173539
Alpha: 70 Train: 0.7869028077311929 Test: 0.8099449461612761
Alpha: 71 Train: 0.7867356599443073 Test: 0.809870640922232
Alpha: 72 Train: 0.7865709354612441 Test: 0.8097971552870421
Alpha: 73 Train: 0.7864085682867381 Test: 0.8097244762762873
Alpha: 74 Train: 0.7862484951034633 Test: 0.8096525910558197
Alpha: 75 Train: 0.786090655126568 Test: 0.809581486946508
Alpha: 76 Train: 0.7859349899681196 Test: 0.8095111514324314
Alpha: 77 Train: 0.785781443510649 Test: 0.809441572167685
Alpha: 78 Train: 0.7856299617890591 Test: 0.8093727369819631
Alpha: 79 Train: 0.7854804928802397 Test: 0.8093046338850486
Alpha: 80 Train: 0.7853329867997779 Test: 0.8092372510703417
Alpha: 81 Train: 0.785187395405222 Test: 0.8091705769175341
Alpha: 82 Train: 0.7850436723053974 Test: 0.8091045999945256
Alpha: 83 Train: 0.7849017727753194 Test: 0.8090393090586785
Alpha: 84 Train: 0.78476165367629 Test: 0.8089746930574779
Alpha: 85 Train: 0.7846232733807957 Test: 0.8089107411286774
Alpha: 86 Train: 0.7844865917018646 Test: 0.8088474425999876
Alpha: 87 Train: 0.7843515698265604 Test: 0.8087847869883671
Alpha: 88 Train: 0.7842181702533259 Test: 0.8087227639989626
Alpha: 89 Train: 0.7840863567329016 Test: 0.8086613635237427
Alpha: 90 Train: 0.7839560942125866 Test: 0.8086005756398725
Alpha: 91 Train: 0.7838273487836 Test: 0.8085403906078545
Alpha: 92 Train: 0.7837000876313459 Test: 0.8084807988694744
Alpha: 93 Train: 0.7835742789883857 Test: 0.8084217910455797
Alpha: 94 Train: 0.783449892089942 Test: 0.8083633579337144
Alpha: 95 Train: 0.7833268971317657 Test: 0.8083054905056329
Alpha: 96 Train: 0.783205265230225 Test: 0.8082481799047185
Alpha: 97 Train: 0.7830849683844651 Test: 0.808191417443313
Alpha: 98 Train: 0.7829659794405156 Test: 0.8081351945999871
Alpha: 99 Train: 0.7828482720572244 Test: 0.8080795030167581

In [38]:
l2 = Ridge(alpha=7) # Select optimal alpha
l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain),l2.score(xtest,ytest)

(0.816288257302081, 0.8150880725612085)

In [39]:
l2.coef_
# All slope but less slope not convert into 0

array([ 2.31139279e+02, -3.29204695e+00, -1.90126861e+02, -1.01249352e+03,
       -6.04047656e+02,  1.71736131e+03,  3.40160377e+03,  3.91530395e+02,
        5.57861287e+02,  5.13867686e+02,  1.02968876e+02,  2.01227011e+01,
        2.13425523e+02, -2.79915768e+02])

# Elastic Net

In [40]:
en = ElasticNet(alpha=1)
en.fit(xtrain,ytrain)
en.score(xtrain,ytrain), en.score(xtest,ytest)

(0.7866253599240464, 0.8098264817256131)